RDS_HOST=database #Default for Docker Dev env
RDS_DB_NAME=perea_performance #Default for Docker Dev env
RDS_USER=root #Default for Docker Dev env
RDS_PASSWORD='' #Default for Docker Dev env
JWT_SECRET = randomhash